.container {
    width: 99%;
    margin: 0 auto;
  }
.logo {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    background-image: url(images/logo.png);

    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    min-width: 230px;
    height: 100px;
    background-color: transparent;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.04), 0px 8px 8px 0px rgba(0,0,0,0.04);
    transition: all 0.2s ease;
  }
  nav {
    float: right;
    margin: 5px 0;
    font-size: 20px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    padding:0 5px; /*расстояние между словами "главная" о нас "контакты"*/
  }

  nav a {
    text-decoration: none;
    line-height: 38px;
  }
#s:hover{
  transform: scale(1.05);
  transform: translateY(-5px);
  background-color:cornflowerblue ;
}
   #s{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    min-width: 160px;
    height: 45px;
    background-color: transparent;/*прозрачный фон*/
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.04), 0px 8px 8px 0px rgba(0,0,0,0.04);
    transition: all 0.2s ease;
}

.image {
    width: 99%;
    height: 124px;
    background-image: url(images/eda.jpg);
    /* background-color: aqua; */
    margin: 5px 0;
  }
  .page{
    display: flex;
    flex-direction: row;
    margin: auto ;
  }
  .tovar {
    background-color: red;
    height: 200px;
    margin-top:16px;
    margin-left: 20px;

    display: flex;
    flex-flow: row wrap;/*Располагаем картинки внутри большого блока с автоматическим переносом на новую строку*/
  }
  .ull{
    list-style-type: none;
    padding-left: 0;
  }
  .categorii{

    margin-bottom: 12px;
    border: 2px solid black;
    border-radius: 16px;
    
    padding: 0 10px;
    list-style-type: none;
    text-align-last: center;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
  }
  .categorii:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
    background-color:cornflowerblue ;
  }