.container {
  padding: 16px;
}
  
.logo {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    background-image: url(images/logo.png);

    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    min-width: 230px;
    height: 100px;
    background-color: transparent;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.04), 0px 8px 8px 0px rgba(0,0,0,0.04);
    transition: all 0.2s ease;
  }

  .logo:hover{
    transform: scale(1.05);
    transform: translateY(-2px);
  }

  nav {
    float: right;
    margin: 5px 0;
    font-size: 20px;
    color: PowderBlue;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block; /*один из способов разместить элементы в строку*/
    padding:0 5px; /*расстояние между словами "главная" о нас "контакты"*/
  }

  nav a {
    text-decoration: none;
    line-height: 38px;
  }

#s:hover{
  transform: scale(1.05);
  transform: translateY(-5px);
  background-color:cornflowerblue ;
}

   #s{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    min-width: 160px;
    height: 45px;
    background-color: transparent;/*прозрачный фон*/
    border-radius: 12px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    box-shadow: 0px -2px 8px 0px rgba(0,0,0,0.04), 0px 8px 8px 0px rgba(0,0,0,0.04);
}

.image {
    width: 99%;
    height: 174px;
    background-image: url(images/eda1.png);
    /* background-color: aqua; */
    margin: 5px 0;
  }

  .page{
    display: flex;
    flex-direction: row;
    margin: auto ;
  }

  .tovar {
    /* background-color: red; */
    max-width: 86% ;
    height: auto;
    margin-top:16px;
    margin-left: 20px;
    border: 2px solid PowderBlue;
    background-color: white;

    display: flex;/*Располагаем картинки*/
    flex-flow: row wrap;/*Элементы отображаются с автоматическим переносом на новую строку*/
    justify-content:space-around;/*Элементы отображаются с одинаковыми отступами между ними.*/
  }

  .ull{
    list-style-type: none;
    padding-left: 0;
  }

  .categorii{
    margin-bottom: 12px;
    /* border: 2px solid black; */
    border-radius: 16px;
    background-color: PowderBlue ;
    
    padding: 0 10px;
    list-style-type: none;
    text-align-last: center;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
  }

  .categorii:hover{
    transform: scale(1.05);
    transform: translateY(-5px);
    background-color:cornflowerblue ;
  }

  .kart{
    margin: 20px 20px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }

  .notes {
    position: absolute;
    top: 255px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 5px;
}

  a {
    color: dodgerblue;
  }

  .photo{
    width: 350px;
    height: 350px;
    border-radius: 5px;
  }
