* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

.block{
    margin: 0 37%;
}

.block_one{
  display: flex;
  width: auto;
  margin: 0 37%;
}

.order {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 44%;
  margin: 0px 28.25%;
  padding: 0px 100px 0px;
  border-top: 0px;
}

.options {
	display: flex;
  width: auto;
  padding: 3px;
}

.options input[type=radio] {
	display: none;
}

.options label {
	display: flex;
  width: auto;
	cursor: pointer;
	padding: 2px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 25px;
	user-select: none;
}
 
/* Checked */
.options input[type=radio]:checked + label {
	background: #aeafb3;
}
 
/* Hover */
.options label:hover {
	background-color: rgb(219, 219, 219);
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registration, .authorization {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin: 0px 37%;
  width: 25%;
  opacity: 0.9;
}

a {
  color: dodgerblue;
}

.signin {
    padding: 16px;
    background-color: #f1f1f1;
    text-align: center;
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    /* padding: 10px; Поля вокруг текста */
    /* background: #39b54a; Цвет фона */
    /* color: #fff; Цвет текста */
    width: 100%; /* Ширина слоя */
   }