.busket{
    
   max-width: 70%;
   margin-left: 15%;
   border: 3px solid cornflowerblue;
   border-radius: 2px;
   padding: 15px;
}
.product{
    width: 99%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 12px;
    font-size: 1.2em;
    border: 3px solid PowderBlue;
    border-radius: 5px;
  
    text-align: center;
    margin-bottom: 6px;
}
.hh{
    float: left;
    border-right: 2px solid PowderBlue;
    padding: 8px;
    margin-right: 3px;
    width: 15%;
    height: 100%;
    
}
.description{
    float: left;
    margin-right: 3px;
    width: 55%;
    height: auto;
    height: 100%;
}
.plus{
    font-size: auto;
    float: left;
    width: 30px;
    height: 100%;
    margin-right: 3px;
    border: 0.1875em solid PowderBlue;
    border-radius: 50%;
}
.number{
    float: left;
    margin-right: 3px;
    width: 5%;
    height: 100%;
}
input[type=number]{
    width: 45%;
    border-radius: 3px;
    border: 2px solid PowderBlue;
} 
.price{
    margin-right: 3px;
    float: right;
    width: 10%;
    height: 100%;
    border: 2px solid PowderBlue;
}
.order{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
    margin: 0px 37%;
    width: 25%;
    opacity: 0.9;
    text-align: center;
}